// COLORS
$color-red = #FF4040
$color-yellow = #FFB700
$color-green = #00AE55
$color-blue = #2898DD
$color-grey-dark = #282C34
$color-lightest = #FFFFFF
$color-darkest = #0E141A

// FONT
$font-size-xxxs = 0.625rem  // 10px
$font-size-xxs = 0.75rem    // 12px
$font-size-xs = 0.875rem    // 14px
$font-size-sm = 1rem        // 16px
$font-size-md = 1.125rem    // 18px
$font-size-lg = 1.25rem     // 20px
$font-size-xl = 1.5rem      // 24px
$font-size-xxl = 2.25rem    // 36px
$font-size-xxxl = 3rem      // 48px

// ANIMATION
$animation-duration = 750ms
$animation-ease-default = cubic-bezier(0.080, 0.690, 0.485, 0.990)
