@import '_variables'
@import '_mixins'

$editor-application-line-number-width = 36px

.editor-application
  .application-content-container
    background-color $color-grey-dark
  .application-line-text
    padding-left 36px

.editor-line-number
  unselectable()
