@require '_variables'
@require 'cursor'

.terminal-command-line-text,
.terminal-command-line-prompt-string
  float left

.terminal-command-line-prompt-string
  margin-right 12px
  color $color-blue

.terminal-command-line-text
  height $cursor-height
  color $color-lightest
